<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Welcome'}) %>
  <body>
    <main class="container mt-4">
      <table
        class="table-hover table-bordered mt-4 text-center mx-auto"
        style="width: 700px"
      >
        <thead>
          <tr>
            <th>No.</th>
            <th>Vessel</th>
            <th>Voyage</th>
            <th>Service</th>
            <th>Port Code</th>
            <th>ETA</th>
            <th>ETD</th>
            <th>Bal. TEU</th>
            <th>Bal. Tons</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.balanceLoadings.length; i++ ) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td>
              <a
                href="/loadings-creation/<%= data.balanceLoadings[i].voyage_number_id %> "
                ><%= data.balanceLoadings[i].vessel_name %></a
              >
            </td>
            <td><%= data.balanceLoadings[i].voyage_number %></td>
            <td><%= data.balanceLoadings[i].service_name %></td>
            <td><%= data.balanceLoadings[i].port_code %></td>
            <td><%= data.balanceLoadings[i].eta %></td>
            <td><%= data.balanceLoadings[i].etd %></td>
            <td>
              <%= data.balanceLoadings[i].teu_alloc -
              data.balanceLoadings[i].amt_of_containers %>
            </td>
            <td>
              <%= data.balanceLoadings[i].tons_alloc -
              data.balanceLoadings[i].container_tonnage %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>
