<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Welcome'}) %>
  <body>
    <main class="container-fluid mt-4">
      <!-- DOING -->
      <div
        class="alert alert-danger alert-dismissible mx-auto fade show d-none"
        id="popout"
        style="max-width: 610px"
      >
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        <strong>Alert!</strong> There are vessels that are
        <strong>< 7</strong> days to ETA at POL that are
        <strong>not full</strong>.
      </div>
      <table
        class="table-hover table-index mt-4 text-center mx-auto"
        style="width: 740px"
      >
        <thead>
          <tr>
            <th data-toggle="tooltip" data-placement="top" title="No.">No.</th>
            <th data-toggle="tooltip" data-placement="top" title="Vessel Name">
              Vessel
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Vessel Voyage Number"
            >
              Voyage
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Service Vessel Plys"
            >
              Service
            </th>
            <th data-toggle="tooltip" data-placement="top" title="Port of Load">
              POL
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Est. Time Arrival at POL"
            >
              ETA
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Est. Time Depart at POL"
            >
              ETD
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Balance Container Space Available"
            >
              Bal. TEU
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Balance Tonnage Available"
            >
              Bal. Tons
            </th>
            <th
              data-toggle="tooltip"
              data-placement="top"
              title="Days Left Till ETA"
            >
              Days Left
            </th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < data.balanceLoadings.length; i++ ) { %>
          <!-- if days remaining < 0 then hide row -->
          <% if (data.balanceLoadings[i].daysRemaining < 0) { %> <%=
          data.balanceLoadings[i].hidden %> <% } else { %>
          <tr>
            <td><%= i + 1 %></td>
            <td>
              <a
                href="/loadings-creation/<%= data.balanceLoadings[i].voyage_number_id %> "
                ><%= data.balanceLoadings[i].vessel_name %></a
              >
            </td>
            <td><%= data.balanceLoadings[i].voyage_number %></td>
            <td><%= data.balanceLoadings[i].service_name %></td>
            <td><%= data.balanceLoadings[i].port_code %></td>
            <td><%= data.balanceLoadings[i].eta %></td>
            <td><%= data.balanceLoadings[i].etd %></td>
            <% if (data.balanceLoadings[i].teu_alloc -
            data.balanceLoadings[i].amt_of_containers > 0 &&
            data.balanceLoadings[i].daysRemaining <= 7) { %>
            <td class="text-danger teu">
              <%= data.balanceLoadings[i].teu_alloc -
              data.balanceLoadings[i].amt_of_containers %>
            </td>
            <td class="text-danger ton">
              <%= data.balanceLoadings[i].tons_alloc -
              data.balanceLoadings[i].container_tonnage %>
            </td>
            <% } else { %>
            <td>
              <%= data.balanceLoadings[i].teu_alloc -
              data.balanceLoadings[i].amt_of_containers %>
            </td>
            <td>
              <%= data.balanceLoadings[i].tons_alloc -
              data.balanceLoadings[i].container_tonnage %>
            </td>
            <% } %> <% if (data.balanceLoadings[i].daysRemaining <= 7) { %>
            <td class="text-danger font-weight-bold late">
              <%= data.balanceLoadings[i].daysRemaining %>
            </td>
            <% } else { %>
            <td><%= data.balanceLoadings[i].daysRemaining %></td>
            <% } %>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </main>
    <script>
      const overdue = document.querySelectorAll('.late');
      const lowTEU = document.querySelectorAll('.teu');
      const lowTON = document.querySelectorAll('.ton');
      if (overdue.length > 0 && (lowTEU.length > 0 || lowTON.length > 0)) {
        document.querySelector('#popout').classList.add('d-block');
      }
    </script>
  </body>
  <script>
    // init tooltips
    $('[data-toggle="tooltip"]').tooltip();
  </script>
</html>
