<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Schedule Creation Form'}) %>
  <body>
    <main class="container mt-4">
      <div class="row">
        <div class="col-3 border-dark border-right" style="min-height: 540px">
          <form action="/schedule-creation" method="POST">
            <div class="form-group">
              <label for="vessel_name">Vessel Name:</label>
              <select id="vessel_name" class="form-control" disabled>
                <% allQueryObj.voyage.forEach(element => { %>
                <option value="<%= element.vessel_name_id%>" selected>
                  <%= element.vessel_name%>
                </option>
                <% }) %>
              </select>
              <input
                type="text"
                name="vessel_name"
                id="vessel_name"
                value="<%= allQueryObj.voyage[0].vessel_name_id%>"
                class="form-control"
                hidden
              />
            </div>
            <div class="form-group">
              <label for="voyage_number">Voyage Number:</label>
              <select
                name="voyage_number"
                id="voyage_number"
                class="form-control"
              >
                <% allQueryObj.voyage.forEach(element => { %>
                <option value="<%= element.vessel_voyage_id %>">
                  <%= element.voyage_number %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="service_name">Service Name:</label>
              <select
                name="service_name"
                id="service_name"
                class="form-control"
              >
                <% allQueryObj.service.forEach(element => { %>
                <option value="<%= element.id %> ">
                  <%= element.service_name %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="port_code">Port Code:</label>
              <select name="port_code" id="port_code" class="form-control">
                <% allQueryObj.port.forEach(element => { %>
                <option value="<%= element.id %> ">
                  <%= element.port_code %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="eta">ETA:</label>
              <input type="date" name="eta" id="eta" class="form-control" />
            </div>
            <div class="form-group">
              <label for="etd">ETD:</label>
              <input type="date" name="etd" id="etd" class="form-control" />
            </div>
            <input type="submit" value="Submit" class="btn btn-success" />
          </form>
        </div>
        <div class="col-9">
          <table
            class="table-hover table-bordered mt-4 text-center"
            style="width: 560px"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>Vessel</th>
                <th>Voyage</th>
                <th>Service</th>
                <th>Port Code</th>
                <th>ETA</th>
                <th>ETD</th>
                <th>Functions</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((element, i) => { %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= element.vessel_name %></td>
                <td><%= element.voyage_number %></td>
                <td><%= element.service_name %></td>
                <td><%= element.port_code %></td>
                <td><%= element.eta %></td>
                <td><%= element.etd%></td>
                <td>
                  <form
                    action="/schedule-creation/<%= element.id %>/edit"
                    style="display: inline-block"
                  >
                    <input type="submit" value="Edit" />
                  </form>
                  <form
                    action="/schedule-creation/<%= element.id %>?_method=DELETE"
                    method="POST"
                    style="display: inline-block"
                  >
                    <input type="submit" value="Del" />
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
