<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Voyage Creation'}) %>
  <body>
    <main class="container mt-4">
      <div class="row">
        <!-- form to insert new vsl/voy -->
        <div
          class="col-6 border-right border-dark form-container"
          style="min-height: 500px"
        >
          <p class="font-weight-bold">Add new voyage after selecting vessel:</p>
          <form action="/voyage-creation" method="POST">
            <label for="vessel_name">Vessel Name: </label>
            <select name="vessel_name" id="vessel_name" class="form-control">
              <% data.name.forEach(element => { %>
              <option value="<%= element.id %>">
                <%= element.vessel_name %>
              </option>
              <% }) %>
            </select>
            <label for="voyage_number">Voyage Number:</label>
            <input
              type="number"
              id="voyage_number"
              name="voyage_number"
              class="form-control"
              placeholder="eg. 100"
            />
            <input type="submit" value="Submit" class="btn btn-success mt-4" />
          </form>
        </div>
        <!-- shows current vsl voy -->
        <div class="col-6">
          <p class="font-weight-bold">Display Current Vessels / Voyages:</p>
          <table
            class="table-hover table-bordered mt-4 text-center"
            style="width: 365px"
          >
            <thead>
              <tr>
                <th>No.</th>
                <th>Vessel Name</th>
                <th>Voyage</th>
                <th>Functions</th>
              </tr>
            </thead>
            <tbody>
              <% for( let i = 0; i < data.voyage.length; i++ ) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= data.voyage[i].vessel_name %></td>
                <td><%= data.voyage[i].voyage_number %></td>
                <td>
                  <form
                    style="display: inline-block"
                    action="/voyage-creation/<%= data.voyage[i].id %>/edit "
                  >
                    <input type="submit" value="Edit" />
                  </form>
                  <form
                    style="display: inline-block"
                    action="/voyage-creation/<%= data.voyage[i].id %>?_method=DELETE "
                    method="POST"
                  >
                    <input type="submit" value="Del" />
                  </form>
                </td>
                <% } %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
